.item-count{
  width: 200px;
  display: flex;
  flex-direction: column;
}
.item-count .controls-count{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.controls-count button{
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border: 1px solid  rgb(0, 149, 241);
  border-radius: 5px;
  color:  rgb(0, 149, 241);
}
.controls-count button:hover{
  border: 1px solid  rgb(0, 149, 241);
  cursor: pointer;
  background-color:  rgb(0, 149, 241);
  color:  rgb(255, 255, 255);
}
.controls-count p{
  font-weight: bold;
}

.button-add-count{
  padding: 10px 0;
  background-color: rgb(255, 255, 255);
  border: 1px solid  rgb(0, 149, 241);
  border-radius: 5px;
  color:  rgb(0, 149, 241);
}
.button-add-count:hover{
  border: 1px solid  rgb(0, 149, 241);
  color:  rgb(255, 255, 255);
  cursor: pointer;
  background-color:  rgb(0, 149, 241);
}